<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: meta_header"></head>
<body>
<div th:replace="common/common :: header"></div>
<div class="container p-5">
    <div th:replace="common/common :: title(name='書籍登録')"></div>
    <div th:if="${message != null}" th:object="${message}">
        <div th:replace="common/common :: messageArea(type=message.type,content=message.message)"></div>
    </div>
    <form th:action="@{/book/new}" th:method="post" th:object="${formBook}">
        <div class="form-group">
            <span>書籍名</span>
            <input class="form-control" type="text" data-maxlength="255" th:field="*{bookName}"/>
        </div>
        <div class="form-group">
            <span>著者名</span>
            <input class="form-control" type="text" data-maxlength="60" th:field="*{authorName}"/>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="p-6 w-100 btn btn-secondary" type="submit">登録</button>
            </div>
            <div class="col-6">
                <a class="p-6 w-100 btn btn-secondary" th:href="@{'/book/list'}">一覧へ</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
